<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bx.Properties.Settings.LTW_LoginConnectionString"
            connectionString="Data Source=MSI\TRIEUHIEU;Initial Catalog=LTW_Login;User ID=sa;Password=trieuphuchieu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>